<launch>

<arg name="reset_service"/>
<arg name="reward_topic"/>
<arg name="min_reward" default="5.0"/>
<arg name="start_delay" default="0.0"/>
<arg name="min_ep_len" default="0.0"/>

<node pkg="infi_learn" type="episode_terminator.py" name="terminator" output="screen" clear_params="true">
    <remap from="reward" to="$(arg reward_topic)"/>
    <param name="reset_service" value="$(arg reset_service)"/>
    <param name="min_reward" value="$(arg min_reward)"/>
    <param name="start_delay" value="$(arg start_delay)"/>
    <param name="min_ep_len" value="$(arg min_ep_len)"/>
</node>

</launch>