<launch>

<!-- <node pkg="relearn_reconfig" type="test_laser.py" name="learner" output="screen">
    <remap from="scan" to="scan_throttled"/>
    <remap from="reward" to="ape/reward"/>
    <remap from="action" to="lo_interface/normalized_parameters"/>
    <remap from="belief" to="belief_state/stream_raw"/>
    <remap from="breaks" to="terminator/breaks"/>
    <rosparam>
        laser_dim: 681
        belief_dim: 9
        action_dim: 9

        laser_nan_value: -1
        laser_inf_value: 5.6

        dt: 3.0
        lag: 1.0
        time_tolerance: 0.1
        belief_dt_tol: 0.1
        spin_rate: 1.0

        save_path: /home/humphreh/Software/argus_ws/lo_slow_3.pkl

        enable_painting: true
        laser_fov: [-2.0943951, 2.0943951]
        laser_max_range: 5.5
        painting_resolution: 0.1
    </rosparam>
</node> -->

<node pkg="infi_learn" type="laser_embedding_learner.py" name="embedding" output="screen"
clear_params="true">
    <remap from="reward" to="ape/reward"/>
    <remap from="action" to="lo_interface/normalized_parameters"/>
    <remap from="breaks" to="terminator/breaks"/>
    <rosparam>
        frontend:
            laser:
                topic: scan_throttled
                dim: 681
                nan_value: -1
                inf_value: 5.6

                fov: [-2.0943951, 2.0943951]
                max_range: 5.5
                paint_resolution: 0.1

            belief:
                topic: belief_state/stream_raw
                dim: 3
            
            action_dim: 9

            sync_time_tolerance: 0.1
            dt: 2.0
            lag: 3.0

        backend:
            validation:
                rate: 0.05
                mode: contiguous
                segment_length: 30

        spin_rate: 1.0
        plot_rate: 10.0

        learner:
            separation_distance: 0.5
            batch_size: 10
            iters_per_spin: 10
            validation_period: 10

        network:
            use_batch_norm: false
            dropout_rate: 0.0

            <!-- n_layers: 3
            n_units: [16, 16]
            n_outputs: 16
            final_rect: tanh -->
            
            image_subnet:
                n_layers: 3
                n_filters: [8, 8, 4]
                filter_sizes: [4, 4, 4]
                conv_strides: 1
                pool_sizes: [4, 4, 5]
                pool_strides: [2, 2, 3]
            vector_subnet:
                n_layers: 3
                n_units: [16, 16]
                n_outputs: 16
                final_rect: relu
            final_subnet:
                n_layers: 3
                n_units: [32, 16]
                n_outputs: 2
                final_rect: tanh
    </rosparam>
</node>

</launch>