<launch>

<include file="$(find infi_learn)/launch/episode_terminator.launch">
    <arg name="reset_service" value="velocity_filter/reset"/>
    <arg name="reward_topic" value="ape/reward"/>
    <arg name="min_reward" value="4.5"/>
</include>

<include file="$(find infi_feat)/launch/lo_features.launch">
    <arg name="scan_topic" value="laser0/scan_raw"/>
    <arg name="odom_topic" value="vel_odom"/>
</include>

<node pkg="infi_learn" type="laser_painter.py" name="painter" output="screen">
    <remap from="scan" to="laser0/scan_raw"/>
    <remap from="image" to="laser0/scan_paint"/>
    <rosparam>
        fov: [-2.0943951, 2.0943951]
        max_range: 5.5
        paint_resolution: 0.1
    </rosparam>
</node>

<include file="$(find infi_perf)/launch/rewards_vel2d.launch"/>

</launch>