<launch>

<arg name="truth_topic" default="cmd_vel"/>
<arg name="truth_mode" default="twist"/>
<arg name="odom_topic" default="vel_odom"/>

<node pkg="infi_perf" type="sse_reward_node" name="sse" output="screen">
    <remap from="estimate" to="$(arg odom_topic)"/>
    <remap from="truth" to="$(arg truth_topic)"/>
    <param name="truth_mode" value="$(arg truth_mode)"/>
    <rosparam>
        estimate_mode: odom
        use_vel: true
        vel_err_weights: [1,1,0,0,0,1]
        log_rewards: true
        min_reward: -8
        max_reward: 8
    </rosparam>
</node>

<node pkg="infi_perf" type="ape_reward_node" name="ape" output="screen">
  <remap from="odom" to="$(arg odom_topic)"/>
  <rosparam>
    pose_cov_weights: [0,0,0,0,0,0]
    vel_cov_weights: [1,1,0,0,0,1]
    log_rewards: true
    min_reward: -8
    max_reward: 8
  </rosparam>
</node>

</launch>